<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layouts.html :: common_head(~{::title}, ~{})}">
    <title>Подтверждение аккаунта</title>
</head>
<body class="bg-color1 min-vh-100 d-flex flex-column">
<div class="container my-5 flex-fill">
    <div class="col flex-fill d-flex justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="col">
                <div class="alert alert-light text-center">
                    <p th:if="${message}" th:text="${message}">MESSAGE</p>
                    <a th:href="@{/login}" class="stat-link stat-link-active">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>