<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layouts.html :: common_head(~{::title}, ~{})}">
    <title th:text="${action == 'create' ? 'Добавить товар' : 'Редактировать товар'}"></title>
</head>
<body class="bg-color1">
<header th:replace="~{layout/layouts.html :: menu}"></header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 bg-white common-border mt-4">
            <form method="post" th:action="@{/admin/products/save}" th:object="${productDTO}"
                  enctype="multipart/form-data">
                <h3 class="text-center"
                    th:text="${action == 'create' ? 'Добавить товар' : 'Редактировать товар'}"></h3>

                <div class="alert alert-info text-center" th:if="${message}" th:text="${message}"></div>

                <div class="col-12 py-1">
                    <label for="inputName" class="form-label">Название</label>
                    <input type="text" class="form-control" id="inputName"
                           th:field="*{productName}">
                </div>
                <div class="col-12 py-1">
                    <label for="inputCipher" class="form-label">Шифр</label>
                    <input type="text" class="form-control" id="inputCipher"
                           th:field="*{cipher}">
                </div>
                <div class="col-12 py-1">
                    <label for="inputDescription" class="form-label">Описание</label>
                    <textarea class="form-control" id="inputDescription" rows="3"
                           th:field="*{description}"></textarea>
                </div>
                <div class="col-12 py-1">
                    <label for="inputPrice" class="form-label">Цена</label>
                    <input type="number" class="form-control" id="inputPrice"
                           th:field="*{price}">
                </div>
                <div class="col-12 py-1">
                    <label for="inputPresent" class="form-check-label">В наличии</label>
                    <input type="checkbox" class="form-check-input" id="inputPresent"
                           th:field="*{present}">
                </div>
                <div class="col-12">
                    <label for="inputCategory" class="form-label">Категория:</label>
                    <select id="inputCategory" class="form-select" name="category">
                        <th:block th:each="choseCategory: ${categoriesList}">
                            <option th:value="${choseCategory.id}">
                                [[${choseCategory.categoryName}]]
                            </option>
                        </th:block>
                    </select>
                </div>
                <div class="col-12 py-1">
                    <label for="inputSubcategory" class="form-label">Подкатегория:</label>
                    <select id="inputSubcategory" class="form-select" th:field="*{subcategory}"></select>
                </div>
                <input type="hidden" name="action" th:value="${action}">
                <input type="hidden" name="id" th:value="${id}">
                <div class="col-12 py-3">
                    <button type="submit" class="btn btn-success fw-bold">Добавить</button>
                    <button type="submit" class="btn btn-danger fw-bold">Отмена</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    async function setSubcategories() {
        const category = document.querySelector("#inputCategory").value;
        const url = "/admin/products/subcategories?category=" + category;
        const response = await fetch(url);
        const subcategoriesJson = await response.json();

        clearDropDown();

        subcategoriesJson.forEach(subcategory => {
            let option = document.createElement("option");
            option.textContent = subcategory.subcategoryName;
            option.value = subcategory.id;
            document.querySelector("#inputSubcategory").append(option);
        })
    }

    function clearDropDown() {
        const subCategory = document.querySelector("#inputSubcategory")

        for (let i = subCategory.options.length - 1; i >= 0; i--) {
            subCategory.options[i] = null;
        }
    }

    document.querySelector("#inputCategory").addEventListener("change", setSubcategories);
    document.addEventListener("DOMContentLoaded", setSubcategories);
</script>
<script th:src="@{/webjars/bootstrap/5.2.2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>