<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/admin-layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div class="container text-center">
        <h2 class="mt-2">Категории</h2>

        <div class="row mb-2">
            <!-- ссылка на добавление новой категории -->
            <div class="col-6 d-flex justify-content-start">
                <a th:href="@{/admin/categories/new}" class="stat-link stat-link-active">
                    Добавить
                </a>
            </div>
        </div>

        <table class="table table-bordered bg-white">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Шифр</th>
                <th>Изображение</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="category: ${categoryList}">
                <tr>
                    <td>[[${category.id}]]</td>
                    <td>[[${category.categoryName}]]</td>
                    <td>[[${category.cipher}]]</td>
                    <td><a th:href="@{${'/img/' + category.fileName}}" target="_blank">Ссылка</a></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Выбрать
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{|/admin/categories/update/${category.id}|}" class="dropdown-item">
                                        Изменить
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{|/admin/categories/delete/${category.id}|}" class="dropdown-item">
                                        Удалить
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>